<router-outlet></router-outlet>
<br>
<br>
<div style="background: darkgray; text-align: center;">
  <span>Elevar</span>
  <br>
  <br>

  <!--   ICONOS -->
  <div class="centrar-chip-listbox">

    <mat-chip-listbox highlighted="true">
      <mat-chip>
        <!-- Gitlab -->
        <a href="https://gitlab.com/users/Elevarup/groups" target="_blank" class="a-icon">
          <ng-icon name="matfGitlabUncolored"></ng-icon>
        </a>
      </mat-chip>

      <mat-chip>
        <!-- Linkedin -->
        <a href="https://www.linkedin.com/in/elevar/" target="_blank" class="a-icon">
          <ng-icon name="bootstrapLinkedin"></ng-icon>
        </a>
      </mat-chip>

      <mat-chip>
        <!-- Youtube -->
        <a href="https://www.youtube.com/channel/UCRUrJCs_X6oJ4EhGgYrQfVw" target="_blank" class="a-icon">
          <ng-icon name="bootstrapYoutube"></ng-icon>
        </a>
      </mat-chip>

      <mat-chip>
        <!-- Instagram -->
        <a href="https://www.instagram.com/elevarup" target="_blank" class="a-icon">
          <ng-icon name="bootstrapInstagram"></ng-icon>
        </a>
      </mat-chip>


      <mat-chip>
        <!-- TikTok -->
        <a href="https://www.tiktok.com/@elevarup" target="_blank" class="a-icon">
          <ng-icon name="bootstrapTiktok"></ng-icon>
        </a>
      </mat-chip>
    </mat-chip-listbox>
  </div>
  <br>
  <br>

  <!-- IMAGE  -->
  <div style="text-align: center;">
    <img *ngIf="found" [src]="urlImage" width="95%" height="auto">
  </div>

</div>
